<a href="https://colab.research.google.com/github/GeorgeLaopodis/GeorgeLaopodis/blob/main/ClassWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
deposit = float(input('Enter deposit amount: '))

if deposit > 10000:
  ir=3.5
elif deposit > 1000:
  ir=3.25
else:
  ir=3.0
total=(1+ir/100)*deposit
print(f'Deposit at the ed of the year: {total}')

Enter deposit amount: 10000
Deposit at the ed of the year: 10325.0

In [ ]:
deposit = float(input('Enter deposit amount: '))
customer_type=input('Enter customer type(n:new,e:existing):')

if customer_type=='n':
  ir=3.0
else:
  if deposit > 10000:
    ir=3.5
  elif deposit > 1000:
    ir=3.25
  else:
    ir=3.0
total=(1+ir/100)*deposit
print(f'Deposit at the ed of the year: {total}')

In [ ]:
guess = float(input('Enter a Guess 1-10: '))

if guess == 6:
  print("YES")
else:
 print("NO")

Enter a Guess 1-10: 5
NO

In [ ]:
x=4
if x%2==0 and x%3==0:
  print('Divisible by 2 and 3')
elif(x%2==0 and x%3!=0):
  print('Divisible by 2 and not by 3')
else:
  print("Not divisible by eithir 2 or 3")

Divisible by 2 and not by 3

In [ ]:
age=int(input('Insert your age: '))
status=str(input("single or married: "))
networth=int(input('Insert your networth: '))
if age>25 and status=='single' or networth>100000:
  print('Accepted for loan')
else:
  print('Not accepted for loan')

Insert your age: 26
single or married: Married
Insert your networth: 124000
Accepted for loan

In [ ]:
!pip install ColabTurtlePLus

Collecting ColabTurtlePLus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePLus
Successfully installed ColabTurtlePLus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *
clearscreen()
color('brown','green')
begin_fill()
jumpto(0,0)

#one number means end in this case end at 4 times
for var in range(4):
  forward(100)
  left(90)

end_fill()

In [ ]:
for i in range (10,5,-1):
  print (i)

10
9
8
7
6

In [ ]:
for x in range (1,9,1):
  fee= 5+ x*2.50
  print (x, fee)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
# Define the range of x values
x_range = range(1, 9, 1)

# Define the fee formula
def fee(x):
    return 5 + x * 2.50

# Loop through the x values and print the fee
for x in x_range:
    # Clamp the fee value between 10 and 20
    fee_value = min(max(fee(x), 10), 20)
    print(x, fee_value)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
x=range(0, 225, 25)
fixed_cost=200
ticket=10
forecasted_attendees=20
for ad_cost in range(0,225,25):
    additonal_attendees= 2* round(ad_cost**.5)
    profit= ticket*additonal_attendees-ad_cost
    print(x, profit)

range(0, 225, 25) 0
range(0, 225, 25) 75
range(0, 225, 25) 90
range(0, 225, 25) 105
range(0, 225, 25) 100
range(0, 225, 25) 95
range(0, 225, 25) 90
range(0, 225, 25) 85
range(0, 225, 25) 80

Leap Year code

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year!

Rock-Paper-Scissors

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

Enter your choice (rock, paper, or scissors): rock
You chose: rock
Computer chose: paper
Computer wins!

In [ ]:
x=10
if x>5:
    print("Hello")
elif x < 15:
  print("World")
else:
  print("Python")

Hello

if first conditional is true it does not try other conditionals. Thus the right answer above is Hello

In [ ]:
for i in range(3):
  print(i)

0
1
2

For is a loop go to syntax of loop for variable in sequence: XYZ whatever happens. In this case it is for variable in range 3, range starts automatically at 0, and steps by 1 by default, does not include end value. Thus 0,1,2 is the answer

In [ ]:
x = 5
while x>0:
  print(x)
  x-=1

5
4
3
2
1

While is a loop go to syntax while condition is true do XYZ. In this case X is greater than 0 from 5 to 1. The x-=1 tells it to subtract by one each iteration so it prints 5,4,3,2,1

In [ ]:
x=10
if x< 5 or x % 2==0:
  print("A")
elif x < 15:
  print("B")
else:
  print("C")

A

Boolean operators are 3, and, or, not. In this case the first conditional if one is true the or makes them true therfore itll print A b/c 10 % 2 is 0 so true prints A. In and if both are true outcomes true, in or if one is true oucome is true.

In [ ]:
for i in range (5):
  if i==3:
    continue
  print(i)

0
1
2
4

For is a loop go to syntax of loop for variable in sequence: XYZ whatever happens. In this case it is for variable in range 5, range starts automatically at 0, and steps by 1 by default, does not include end value. Thus 0,1,2,3,4 would be the result. However, here the code tells the computer if i==3 continue skips an iteration so skip over the 3, break will stop the function.
The answer here is 0,1,2,4 skipping the 3

In [ ]:
x = 5
while x > 0:
  print(X)
  x +=1

While is a loop go to syntax while condition is true do XYZ. In this case X is greater than 0 from 5 to infinity. The x+=1 tells it to add by one each iteration so it prints 5,6,7,8... to infinity

In [ ]:
for i in range (1,6):
  if i % 2 ==0:
    break
  print(i)

1

1 is start in range, 6 is end in range. and theres a break if i % 2 ==0. Therfore the function goes 1 which doesnt activate break because 1 % 2 =1, auto step by 1 to 2 which activates the break becaus 2 % 2 ==0 and the loop stops. here the answer is just 1

In [ ]:
x = 2
if x >5:
  print ("Hello")
else:
  if x % 3 !=0:
    print("World")
  else:
    print('Hello World')

World

Correct answer stops at second conditional that is true prints World

In [ ]:
for i in range(3):
  print(i)
print("Done")

0
1
2
Done

In [ ]:
x=5
while x >0:
  print(x)
  x-=2

5
3
1

In [27]:
s= 'This is another test'
this_s=s[:4]
print(this_s)
test_s= s[16:]
print(test_s)
print(s[:])

This
test
This is another test

In [61]:
UI= str(input('Enter todays date as mm/dd/yyyy: '))
month=UI[:2]
print("Month: "+month)
day=UI[3:5]
print("Day: "+day)
year=UI[6:len(UI)]
print("Year: "+year)

Enter todays date as mm/dd/yyyy: 12/16/2002
Month: 12
Day: 16
Year: 2002