<a href="https://colab.research.google.com/github/GeorgeLaopodis/GeorgeLaopodis/blob/main/ClassWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
deposit = float(input('Enter deposit amount: '))

if deposit > 10000:
  ir=3.5
elif deposit > 1000:
  ir=3.25
else:
  ir=3.0
total=(1+ir/100)*deposit
print(f'Deposit at the ed of the year: {total}')

Enter deposit amount: 10000
Deposit at the ed of the year: 10325.0

In [ ]:
deposit = float(input('Enter deposit amount: '))
customer_type=input('Enter customer type(n:new,e:existing):')

if customer_type=='n':
  ir=3.0
else:
  if deposit > 10000:
    ir=3.5
  elif deposit > 1000:
    ir=3.25
  else:
    ir=3.0
total=(1+ir/100)*deposit
print(f'Deposit at the ed of the year: {total}')

In [ ]:
guess = float(input('Enter a Guess 1-10: '))

if guess == 6:
  print("YES")
else:
 print("NO")

Enter a Guess 1-10: 5
NO

In [ ]:
x=4
if x%2==0 and x%3==0:
  print('Divisible by 2 and 3')
elif(x%2==0 and x%3!=0):
  print('Divisible by 2 and not by 3')
else:
  print("Not divisible by eithir 2 or 3")

Divisible by 2 and not by 3

In [ ]:
age=int(input('Insert your age: '))
status=str(input("single or married: "))
networth=int(input('Insert your networth: '))
if age>25 and status=='single' or networth>100000:
  print('Accepted for loan')
else:
  print('Not accepted for loan')

Insert your age: 26
single or married: Married
Insert your networth: 124000
Accepted for loan

In [ ]:
!pip install ColabTurtlePLus

Collecting ColabTurtlePLus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePLus
Successfully installed ColabTurtlePLus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *
clearscreen()
color('brown','green')
begin_fill()
jumpto(0,0)

#one number means end in this case end at 4 times
for var in range(4):
  forward(100)
  left(90)

end_fill()

In [ ]:
for i in range (10,5,-1):
  print (i)

10
9
8
7
6

In [ ]:
for x in range (1,9,1):
  fee= 5+ x*2.50
  print (x, fee)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
# Define the range of x values
x_range = range(1, 9, 1)

# Define the fee formula
def fee(x):
    return 5 + x * 2.50

# Loop through the x values and print the fee
for x in x_range:
    # Clamp the fee value between 10 and 20
    fee_value = min(max(fee(x), 10), 20)
    print(x, fee_value)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
x=range(0, 225, 25)
fixed_cost=200
ticket=10
forecasted_attendees=20
for ad_cost in range(0,225,25):
    additonal_attendees= 2* round(ad_cost**.5)
    profit= ticket*additonal_attendees-ad_cost
    print(x, profit)

range(0, 225, 25) 0
range(0, 225, 25) 75
range(0, 225, 25) 90
range(0, 225, 25) 105
range(0, 225, 25) 100
range(0, 225, 25) 95
range(0, 225, 25) 90
range(0, 225, 25) 85
range(0, 225, 25) 80